div.subscriptions.left-column
	ul
		li Comedy
		li Science
		li Arts
		li Business
		li Music
		li Sports
		li TV/Film

div.listen

	ul
	for feed in directory
		li
			h1 #{feed.title}
			span URL: #{feed.link}
			p #{feed.description}
			span Last updated: #{feed.lastPodcast._d}
			aside #{feed.language}
			h2
				a.directory-subscribe(href='/directory/subscribe') Subscribe to this podcast


	

- if (typeof(flash) != 'undefined')
	div.mask
		div.modal-error
			span.modal-error-close x
			- if (typeof(flash.errorAddFeed) != 'undefined')
				p.error= flash.errorAddFeed