h1 Listen: #{feed.feedTitle}
div.podcast-header
	div.podcast-header-date
		p 
			a(href='#', class='sort-date') Sort by date &nbsp;
				i
	div.podcast-header-title
		p 
			a(href='#', class='sort-title') Sort by podcast &nbsp;
				i
	div.podcast-header-feed
		p 
			a(href='#', class='sort-feed') Sort by feed title &nbsp;
				i
ul.podcastList
	for podcast in podcasts
		li.podcastItem.single(data-uuid='' + podcast.podUUID)
			div.podcastDate
				p #{podcast.prettyMonth} #{podcast.prettyDay}, #{podcast.prettyYear}
			div.podcastTitle
				p
					a(href='/listen/' + podcast.feedUUID + '/' + podcast.podUUID, class='podcastListen #{podcast.listened}', data-file='' + podcast.podFile, data-feed='' + podcast.feedTitle, data-title='' + podcast.podTitle, id='' + podcast.podUUID) #{podcast.podTitle}
			div.podcastFeed
				p 
					a(href='/listen/podcast/' + podcast.feedUUID, class='loadFeedFromItem') #{podcast.feedTitle}
			div.podcastActions
				p
					a(href='/listen/' + podcast.feedUUID + '/' + podcast.podUUID, class='podcastListen', title='Listen to this podcast.', data-file='' + podcast.podFile, id='' + podcast.podUUID, data-feed='' + podcast.feedTitle)
						i.icon-headphones
					a(href='/listen/' + podcast.feedUUID + '/listened/' + podcast.podUUID, class='podcastListened single', title='Mark this podcast as listened.')
						i.icon-ok
					a(href='#', class='podcastRead', title='Read the description of this podcast.')
						i.icon-book
					a(href='' + podcast.podLink, title='Link to the podcast\'s site.')
						i.icon-external-link
					a(href="" + podcast.podFile, title='Download this podcast to your device.')
						i.icon-chevron-down
			div.podcastDescription
				p.error A note: Don't blame me for poorly-sourced descriptions. Tell your favorite podcast to make a proper RSS feed!
				div
					p!= podcast.podDesc