doctype 5
html(lang="en")
	head
		title Hark | #{username}'s Podcasts
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800', rel='stylesheet')
		link(rel='stylesheet', href='/style/screen.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(type='text/javascript', src='/js/jquery.history.js')
		script(type='text/javascript', src='/js/jquery.jplayer.min.js')
		script(type='text/javascript', src='/js/application.js')

		if playing
			script(type='text/javascript')
				var playing = {
					podcast: "#{playing.podcast}",
					podcastTitle: "#{playing.podcastTitle}",
					podcastID: "#{playing.podcastID}",
					progress: "#{playing.progress}",
					feedUUID: "#{playing.podcastFeed}",
					feedTitle: "#{playing.podcastFeedTitle}"
				}

	body