doctype 5
html(lang="en")
	head
		title Hark | #{username}'s Settings
		
		!=partial('layout/head')

		if playing
			script(type='text/javascript')
				var playing = {
					podcast: "#{playing.podcast}",
					podcastTitle: "#{playing.podTitle}",
					podcastID: "#{playing.podcastID}",
					progress: "#{playing.progress}",
					feedUUID: "#{playing.podcastFeed}",
					feedTitle: "#{playing.feedTitle}"
				}

	body

		header#hark-header
			div.logo.left-column
				div.hark-listen
					a(href="/listen")
						img(src='/img/hark-logo-small.png')
					div.pulse
					&nbsp;
				div.header-settings
					<a href="/listen" class="go-home" title="Go home."><i class="icon-home"></i></a>
					<a href="/settings" class="go-settings" title="Go to your settings."><i class="icon-cog"></i></a>
					<a href="/logout" class="logout" title="Bye bye!"><i class="icon-signout"></i></a>
			!=partial('partials/player')
				
		canvas#header-wave(width='1000', height='40')

		section#hark-podcasts
			!=partial('partials/settings')