- if (user == false)
  h2.directory-no-login Subscribe to this podcast, and many others, in one click with Hark.
  p.directory-no-login Of course, you need to 
    a(href='/signup/') make an account 
    to do so.
  p.directory-no-login Or, you can 
    a(href='/login/') log in 
    to an existing account.
  p.directory-no-login Eithe way, feel free to continue browsing the <a href="/directory">Directory</a>.

section.actions
  form.directory-search(method='post', action='/directory/search')
    input.directory-search-term(type='text', placeholder='Seach for a podcast.')
    button.directory-search-submit(type='submit')
      span Go

  //- ul.directory-sort
  //-   li.safe Sort by:
  //-   li.directory-sort-popularity.active.action Popularity
  //-   li.directory-sort-alphabetical.active.action Alphabetically
  //-   li.directory-sort-latest.active.action Recently updated
  //-   li.directory-sort-pure-alpha.active.action Pure alpha

- if (individual != true)
  - if (directory.length >= 0)
    ul.directory-main.clearfix(data-page='' + page, data-category='' + category)

      -if (typeof(result_count) != 'undefined') 
        p.result-count #{result_count} result(s) found.

      for feed in directory
        li.directory-item(data-category='' + category, data-subs='' + feed.subscriptions, data-date='' + feed.lastPodcast)
          h1.directory-feed-title
            a(href='/directory/podcast/' + feed.uuid) #{feed.title}
          a.directory-feed-subscribe.blue-button(href='/directory/subscribe/' + feed.uuid) Subscribe
          p.directory-feed-description #{feed.description}
          div.directory-feed-details
            div.directory-feed-details-left
              span Latest:
              span #{feed.pods[0].podTitle}
            div.directory-feed-details-right
              span Updated:
              - if (typeof(feed.pods[0].podDate['_d']) == 'string')
                span.moment.with-d #{feed.pods[0].podDate['_d']}
              - else
                span.moment.no-d #{feed.pods[0].podDate}

    -if (page != false)
      div.pagination.clearfix
        p
          a.pagination-prev(href="/directory/") &larr; Previous
        p
          a.pagination-next(href="/directory/page/2") Next &rarr;

- else if (individual = true)
  div.directory-main.clearfix
    div.directory-item
      h1.directory-feed-title
        a(href='/directory/podcast/' + result.uuid) #{result.title}
      a.directory-feed-subscribe.blue-button(href='/directory/subscribe/' + result.uuid) Subscribe
      p.directory-feed-description #{result.description}

    ul.directory-individual-list
      for podcast in result.pods
        li.podcast-item.all(data-uuid='' + podcast.podUUID, data-file='' + podcast.podFile, data-feed='' + result.title, data-title='' + podcast.podTitle, data-feedUUID='' + result.uuid, data-source='' + podcast.podLink)
          p.podcast-title
            a(href='/listen/' + result.uuid + '/' + podcast.podUUID, class='podcastListen false', data-file='' + podcast.podFile, data-feed='' + podcast.feedTitle, data-title='' + podcast.podTitle, id='' + podcast.podUUID) #{podcast.podTitle}
          p.podcast-feed
            a(href='/listen/podcast/' + result.uuid, class='loadFeedFromItem') #{result.title}
            span.breaker &nbsp;|&nbsp;
            - if (typeof(podcast.podDate._d) != 'undefined')
              span.moment #{podcast.podDate._d}
            - else
              span.moment #{podcast.podDate}
            span.breaker &nbsp;|&nbsp;
            a.item-actions-read(href="#") Read more...
            div.podcastDescription
              div
                p!= podcast.podDesc
                p.description-warning A note: Don't blame Hark for poorly-sourced descriptions. Tell your favorite podcast to make a proper RSS feed!

  p.directory-help The Hark Directory: 169 podcasts, and counting.
  p.directory-help Have a podcast that you want in the Hark Directory? Having a problem subscribing to a particular podcast? Send me an e-mail at <a href="mailto:admin@harkhq.com">admin@harkhq.com</a>.

- else
    div.directory-main.clearfix(data-page='' + page, data-category='' + category)
      p Sorry, nothing found here.
      p Recommend a podcast by sending an e-mail to <a href="mailto:admin@harkhq.com">admin@harkhq.com</a>.