mixin podcast-loop()
  for podcast in podcasts
    li.podcast-item.all(data-uuid='' + podcast.podUUID, data-file='' + podcast.podFile, data-feed='' + podcast.feedTitle, data-title='' + podcast.podTitle, data-feedUUID='' + podcast.feedUUID, data-source='' + podcast.podLink)
      p.podcast-title
        a(href='/listen/' + podcast.feedUUID + '/' + podcast.podUUID, class='podcastListen #{podcast.listened}', data-file='' + podcast.podFile, data-feed='' + podcast.feedTitle, data-title='' + podcast.podTitle, id='' + podcast.podUUID) #{podcast.podTitle}
      p.podcast-feed
        a(href='/listen/podcast/' + podcast.feedUUID, class='loadFeedFromItem') #{podcast.feedTitle}
        span.breaker &nbsp;|&nbsp;
        span.moment #{podcast.podDate}
        span.breaker &nbsp;|&nbsp;
        a.item-actions-read(href="#") Read more...
      div.podcastDescription
        div
          p!= podcast.podDesc
        p.description-warning A note: Don't blame Hark for poorly-sourced descriptions. Tell your favorite podcast to make a proper RSS feed!


section.actions
  ul
    li.action.red-button.inactive.act-listen Listen
    li.action.red-button.inactive.act-mark Mark as listened
    li.action.red-button.inactive.act-read Read description
    li.action.red-button.inactive.act-source Go to source
    li.action.red-button.inactive.act-download Download
    li.action.red-button.act-sorting Sort
      i.icon-chevron-down
      ul
        li
          a(href='#', class='sort-date') Sort by date &nbsp;
            i
        li
          a(href='#', class='sort-title') Sort by podcast &nbsp;
            i
        li
          a(href='#', class='sort-feed') Sort by feed title &nbsp;
            i

if podcasts
  - if (typeof(single) != 'undefined')
    - if (single == true)
      div.podcast-meta
        h1 #{podcasts[0].feedTitle}
        p.podcast-meta-description #{podcasts[0].feedDesc}
        div.podcast-meta-actions
          a.unsubscribe.red-button(href='/listen/remove/' + podcasts[0].feedUUID) Unsubscribe
      ul.podcastList.list-single(data-title='' + podcasts[0].feedTitle)
        mixin podcast-loop()
  - else
    ul.podcastList
      mixin podcast-loop()

          
- if (typeof(flash) != 'undefined')
  div.mask
    div.modal-error
      span.modal-error-close x
      - if (typeof(flash.errorAddFeed) != 'undefined')
        p.error= flash.errorAddFeed

